$FontSize: 25px;
$FontFamily: "Courier New", Courier, monospace;

html,
body {
  margin: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

Header {
  background-color: gray;
  color: aliceblue;
  font-family: $FontFamily;
  font-size: ($FontSize)-5px;
  width: 100%;
  height: 150px;
  text-align: center;
  #linkToCreatePage {
    width: 150px;
    margin: auto;
  }
  a {
    color: aliceblue;
  }
  a:hover {
    color: red;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(20, 20, 20);
  font-family: $FontFamily;
  flex: 1;
  .mainDiv {
    background: rgb(216, 208, 208);
    width: 23%;
    border: 2px solid black;
    padding: 10px;
    height: 200px;
    margin: auto;
    .Subject {
      height: 50px;
      font-size: ($FontSize)-5;
      font-family: $FontFamily;
      font-style: normal;
      background-color: aqua;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .deadLineTime {
      width: 150px;
      height: fit-content;
      margin-bottom: 20px;
    }
    .status {
      width: 100px;
      padding-left: 10px;
      height: fit-content;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }
}
footer {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  padding: 20px;
}
.Text,
.status {
  background-color: aqua;
}
.red {
  background: red;
}
.green {
  background: green;
}
