html,
body {
  margin: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(20, 20, 20);
  flex: 1;
}

Header {
  background-color: gray;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  /* line-height: 150px; */
}
footer {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
}

header,
main,
footer {
  padding: 20px;
}

.mainDiv {
  background: rgb(216, 208, 208);
  width: 23%;
  border: 2px solid black;
  padding: 10px;
  height: 200px;
  margin: auto;
}

.Name {
  font-size: 25px;
  font-style: normal;
  background-color: aqua;
  font-weight: bold;
}

.Text,
.status {
  background-color: aqua;
}
.red {
  background: red;
}
.green {
  background: green;
}

.status {
  width: 100px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin-top: 120px;
}
#linkToCreatePage {
  width: 150px;
  margin: auto;
}
a {
  color: aliceblue;
}
a:hover {
  /* color: brown; */
  color: red;
}
