$FontSize: 25px;
$FontFamily: "Courier New", Courier, monospace;

html,
body {
  margin: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

Header {
  background-color: gray;
  color: aliceblue;
  font-family: $FontFamily;
  font-size: ($FontSize)-5px;
  width: 100%;
  height: 150px;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(20, 20, 20);
  font-family: $FontFamily;
  flex: 1;
  .capsule1 {
    background: rgb(216, 208, 208);
    width: 43%;
    border: 4px solid rgb(18, 220, 24);
    padding: 10px;
    height: 400px;
    margin: auto;
    .title,
    .text {
      height: 50px;
      font-size: ($FontSize)-5;
      font-family: $FontFamily;
      font-style: normal;
      background-color: aqua;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }
  .capsule2 {
    background: rgb(216, 208, 208);
    width: 43%;
    border: 4px solid red;
    padding: 10px;
    height: 400px;
    margin: auto;
    .title,
    .text {
      height: 50px;
      font-size: ($FontSize)-5;
      font-family: $FontFamily;
      font-style: normal;
      background-color: aqua;
      font-weight: bold;
      margin-bottom: 30px;
    }
    #taskSolution {
      resize: none;
      padding-left: 20px;
      font-size: $FontSize;
      margin: 10px 0;
      width: 560px;
      height: 150px;

      //   @include BorderRadius(10px);
      border-style: none;
      box-sizing: border-box;
    }
  }
}
footer {
  background-color: black;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  padding: 20px;
}
.Text,
.status {
  background-color: aqua;
}
.red {
  background: red;
}
.green {
  background: green;
}
